.banner {
    height: calc(100vh - 80px);
    margin-top: 80px;
    .grid {
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        .left {
        position: relative;
        height: 100%;
        background-color: #f5f6f7;
        .controllers {
            @include con;
            top: 35%;
            background-color: $base-color;
            a {
            display: block;
            height: 15px;
            width: 15px;
            background-color: $light-color;
            margin: 10px 0;
            border-radius: 50%;
            }
        }
        .sliders {
            display: flex;
            overflow: hidden;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            align-items: center;
            height: 100%;
            margin: 0 0rem 0 7.8rem;
        }
        .slide {
            flex: 0 0 100%;
            width: 100%;;
            .headings{
                p{
                    width: 85%;
                    margin: 1.5rem 0;
                }
                button {
                    background-color: $light-color;
                    color: $base-color;
                }
                button:hover {
                    color: $light-color;
                }
                button:hover::before {
                    background-color: $base-color;
                }
            }
        }
        }
        .right {
        height: 100%;
            .imgBx {
                height: 100%;
                img {
                height: 100%;
                object-fit: cover;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .banner{
        height: auto !important;
    }
    .banner .grid {
        grid-template-columns: 1fr !important;
        .right {
            display: none;
        }
        .left {
            padding: 2rem 0;
            .controllers {
                display: none;
            }
            h1 {
                display: block;
            }
            .sliders {
                width: 75%;
                #slide2,
                #slide3 {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .banner .grid .left .sliders {
        margin: 0 0 0 4rem !important;
    }
}
@media screen and (max-width: 768px) {
    .banner .grid .left .sliders {
        margin: 0 0 0 1rem !important;
        width: 100%;
    }
}
    @media screen and (max-width: 375px) {
    .banner .grid .left .sliders .headings p {
        width: 100%;
        padding-right: 1rem;
    }
}
