.blog {
    .section-head {
        width: 35%;
        margin: 0 auto;
    }
    .grid {
        gap: 20px;
        .card {
            background-color: $light-color;
            .card-head {
                font-size: 1.4rem;
                margin-top: 5px;
            }
            .imgBx {
                overflow: hidden;
                img {
                    @include tra;
                }
                .border {
                    width: 100%;
                    height: 5px;
                    background-color: $base-color;
                    margin-top: -5px;
                }
            }
            .content {
                padding: 1rem 1rem 2rem 1rem;
                border: 1px solid #ccc;
                i {
                    margin-right: 5px;
                    color: $base-color;
                    font-weight: 900;
                }
            }
        }
    }
}
.blog .card:hover .imgBx img {
    transform: scale(1.1);
}
.blog .card .content .d-flex p:hover,
.blog .card .card-head:hover {
    color: $base-color;
    cursor: pointer;
}