.call {
    background: url("../media/call.jpg") no-repeat 0 0;
    background-size: cover;
    position: relative;
    color: $light-color;
    z-index: 1;
    .grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 6rem 0;
        .right {
            background-color: $light-color;
            color: $dark-color;
            padding: 70px 50px;
            border-top: 10px solid $base-color;
        }
    }
    .left p {
        color: $light-color;
    }
}
.call::before {
    @include ba;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
}
.call .right .inputs {
    input,
    textarea {
        border: 1px solid #ccc;
        margin: 10px 0;
        width: 100%;
        padding: 1rem;
        font-weight: 700;
    }
    .input-2,
    .input-3 {
        width: 50%;
    }
    button {
        width: 100%;
    }
}


@media screen and (max-width: 1024px) {
    .call .left{
        padding: 0;
    }
    .call .right{
        padding: 30px !important;
    }
    .call .right .inputs{
        .d-flex{
            flex-direction: column;
        }
        .input-2,
        .input-3{
            width: 100%;
        }
    }   
}

@media screen and (max-width: 768px) {
    .call .grid{
        grid-template-columns: 1fr;
        gap: 40px;
        .left{
            text-align: center;
            padding: 0 2rem;
        }
    }
}

@media screen and (max-width: 375px) {
    .call .grid .left{
        padding: 0;
    }
}