.team {
    background: $section-bg;
    .section-head {
        width: 35%;
        margin: 0 auto;
    }
    .grid {
        gap: 20px;
    }
    .card {
        background-color: $light-color;
        .imgBx {
            position: relative;
            .social-media {
            @include ba;
            @include tra;
            background-color: rgba(0, 0, 0, 0.4);
            text-align: center;
            opacity: 0;
            padding: 3rem 0;
                .icons {
                    @include tra;
                    transform: rotateX(90deg);
                    margin-top: 60%;
                    i {
                        @include tra;
                        background-color: $light-color;
                        margin: 5px;
                        padding: 1rem;
                    }
                }
            }
        }
        .identity {
        margin: 1rem 1.5rem 0 1.5rem;
        border-bottom: 4px solid $base-color;
            p {
                margin: 10px 0;
            }
        }
    }
}
.team .card:hover .social-media {
    opacity: 1;
}
.team .card:hover .social-media .icons {
    transform: rotateX(0deg);
}
.team .card .social-media .icons i:hover {
    border-radius: 50%;
    cursor: pointer;
    background-color: $base-color;
    color: $light-color;
}


@media screen and(max-width: 992px) {
    .team .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and(max-width: 600px) {
    .team .grid{
        grid-template-columns: repeat(1, 1fr);
        .card .identity{
            margin: 0;
        }
    }
}
@media screen and (max-width: 280px) {
    .card .imgBx .social-media .icons{
        margin-top: 20% !important;
    }
}