@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import "_utilities";
@import "_variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
// Navbar
.navbar {
  height: 80px;
  box-shadow: 20px 30px 50px rgba(0, 0, 0, 0.05);
  .flex {
    justify-content: space-between;
    .logo {
      width: 160px;
      margin-top: 5px;
    }
    .navigation ul li {
      display: inline-block;
      margin: 0 5px;
      a {
        font-size: 1.1rem;
        padding: 10px 15px;
      }
      a:hover {
        color: $base-color;
      }
    }
  }
}
