@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import "_utilities";
@import "_variables";
@import "_margins&paddings";
@import "_navbar.scss";
@import "_banner.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}

