@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
img {
  width: 100%;
}

h1,
h2 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -1px;
  display: inline-block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  color: #666666;
  font-size: 14px;
  line-height: 24px;
}

input,
textarea,
input:focus,
textarea:focus {
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.main-btn {
  border: 2px solid #fc5404;
  outline: none;
  background-color: #fc5404;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  font-weight: 900;
}

.main-btn:hover {
  color: #fc5404;
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-clip-path: ellipse(100% 100% at 100% 50%);
          clip-path: ellipse(100% 100% at 100% 50%);
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 10%;
  width: 0;
  height: 0;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  -webkit-clip-path: ellipse(25% 40% at 50% 50%);
          clip-path: ellipse(25% 40% at 50% 50%);
}

.sub-head p {
  background-color: #fc5404;
  color: #fff;
  display: inline-block;
  padding: 5px 18px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.light-color {
  color: #fff;
}

.base-color {
  color: #fc5404;
}

.fw {
  font-weight: 300;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.w-50 {
  width: 50%;
  margin: 0 auto;
}

.section-head h2 {
  position: relative;
  margin-bottom: 1rem;
  letter-spacing: 5px;
}

.section-head h2::after {
  position: absolute;
  content: "";
  bottom: -10px;
  display: block;
  width: 100%;
  height: 2px;
  margin: 0 auto;
  background-color: #fc5404;
}

.card-head {
  font-size: 1.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 1.5rem;
}

.mx-3 {
  margin: 0 2rem;
}

.mx-4 {
  margin: 0 3rem;
}

.mx-5 {
  margin: 0 4rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 4rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 4rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 2rem;
}

.ml-4 {
  margin-left: 3rem;
}

.ml-5 {
  margin-left: 4rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 2rem;
}

.mr-4 {
  margin-right: 3rem;
}

.mr-5 {
  margin-right: 4rem;
}

.m-auto {
  margin: 0 auto;
}

/* Paddings */
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 1.5rem;
}

.px-3 {
  padding: 0 2rem;
}

.px-4 {
  padding: 0 3rem;
}

.px-5 {
  padding: 0 4rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 2rem;
}

.pt-4 {
  padding-top: 3rem;
}

.pt-5 {
  padding-top: 4rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 2rem;
}

.pb-4 {
  padding-bottom: 3rem;
}

.pb-5 {
  padding-bottom: 4rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 2rem;
}

.pl-4 {
  padding-left: 3rem;
}

.pl-5 {
  padding-left: 4rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 2rem;
}

.pr-4 {
  padding-right: 3rem;
}

.pr-5 {
  padding-right: 4rem;
}

.navbar {
  height: 80px;
  -webkit-box-shadow: 20px 30px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 20px 30px 50px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  position: fixed;
  z-index: 111;
  width: 100%;
}

.navbar .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .flex .logo {
  width: 160px;
  margin-top: 5px;
}

.navbar .flex .navigation ul li {
  display: inline-block;
  margin: 0 5px;
}

.navbar .flex .navigation ul li a {
  font-size: 1.1rem;
  padding: 10px 15px;
}

.navbar .flex .navigation ul li a:hover {
  color: #fc5404;
}

.banner {
  height: calc(100vh - 80px);
  margin-top: 80px;
}

.banner .grid {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.banner .grid .left {
  position: relative;
  height: 100%;
  background-color: #f5f6f7;
}

.banner .grid .left .controllers {
  position: absolute;
  left: 0;
  padding: 2rem 1.5rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 35%;
  background-color: #fc5404;
}

.banner .grid .left .controllers a {
  display: block;
  height: 15px;
  width: 15px;
  background-color: #fff;
  margin: 10px 0;
  border-radius: 50%;
}

.banner .grid .left .sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0 0rem 0 7.8rem;
}

.banner .grid .left .slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

.banner .grid .left .slide .headings p {
  width: 85%;
  margin: 1.5rem 0;
}

.banner .grid .left .slide .headings button {
  background-color: #fff;
  color: #fc5404;
}

.banner .grid .left .slide .headings button:hover {
  color: #fff;
}

.banner .grid .left .slide .headings button:hover::before {
  background-color: #fc5404;
}

.banner .grid .right {
  height: 100%;
}

.banner .grid .right .imgBx {
  height: 100%;
}

.banner .grid .right .imgBx img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .grid {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.about .left .imgBx {
  position: relative;
}

.about .left .imgBx i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  color: #fc5404;
  padding: 1.5rem 1.5rem 1.5rem 1.8rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about .left .imgBx i:hover {
  background-color: #fc5404;
  color: #fff;
  text-align: center;
}

.about .right .boxes .box i {
  height: 60px;
  width: 65px;
  background: url("../media/about-icon-bg.png");
  background-size: cover;
  padding: 1rem 0;
  text-align: center;
  margin-right: 2rem;
  color: #fff;
  font-size: 24px;
}

.about .right .boxes .box .content h3 {
  margin-bottom: 10px;
}

.services .section-head {
  width: 65%;
  margin: 0 auto;
}

.services .grid {
  gap: 20px;
}

.services .grid .box {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
  padding: 3rem 2rem;
  line-height: 4rem;
  position: relative;
  z-index: 12;
}

.services .grid .box i {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 1rem;
  background-color: rgba(252, 84, 4, 0.1);
  color: #fc5404;
  -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
          clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.services .grid .box p {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.services .box .design {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 0;
  height: 0;
  position: absolute;
  top: 70%;
  left: 10%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 74% 85%, 75% 100%, 50% 85%, 0 85%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 74% 85%, 75% 100%, 50% 85%, 0 85%);
  z-index: -1;
}

.services .box:hover .design {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fc5404;
}

.services .box:hover {
  color: #fff;
}

.services .box:hover i {
  background-color: #fff;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.services .box:hover p {
  color: #fff;
}

.call {
  background: url("../media/call.jpg") no-repeat 0 0;
  background-size: cover;
  position: relative;
  color: #fff;
  z-index: 1;
}

.call .grid {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 6rem 0;
}

.call .grid .right {
  background-color: #fff;
  color: #000;
  padding: 70px 50px;
  border-top: 10px solid #fc5404;
}

.call .left p {
  color: #fff;
}

.call::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.call .right .inputs input,
.call .right .inputs textarea {
  border: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
  padding: 1rem;
  font-weight: 700;
}

.call .right .inputs .input-2,
.call .right .inputs .input-3 {
  width: 50%;
}

.call .right .inputs button {
  width: 100%;
}

.portfolio .section-head {
  width: 35%;
  margin: 0 auto;
}

.portfolio input[type="radio"] {
  display: none;
}

.portfolio label {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
  padding: 5px 15px;
  background-color: #eff2f9;
  font-weight: 900;
  margin: 0 10px;
  cursor: pointer;
}

.portfolio .boxes .box {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  height: 350px;
  width: 350px;
  position: relative;
  overflow: hidden;
  margin: 5px;
}

.portfolio .boxes .box img {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .boxes .box .content {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 84, 4, 0.7);
  -webkit-transform: scale(0) rotate(90deg);
          transform: scale(0) rotate(90deg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
  padding: 0 3rem;
}

.portfolio .boxes .box .content p {
  color: #fff;
  margin: 1.5rem 0;
}

.portfolio .boxes .box .content button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.portfolio .boxes .box .content button:hover {
  background-color: #fff;
  color: #fc5404;
}

.portfolio .boxes .box:hover .content {
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
}

#branding:checked ~ .boxes > div:not([class*="branding"]),
#marketing:checked ~ .boxes > div:not([class*="marketing"]),
#web-design:checked ~ .boxes > div:not([class*="web-design"]),
#graphic-design:checked ~ .boxes > div:not([class*="graphic-design"]) {
  height: 0;
  width: 0;
}

#all:checked ~ .all,
#branding:checked ~ .branding,
#marketing:checked ~ .marketing,
#web-design:checked ~ .web-design,
#graphic-design:checked ~ .graphic-design {
  background-color: #fc5404;
  color: #fff;
}

.team {
  background: #f9faff;
}

.team .section-head {
  width: 35%;
  margin: 0 auto;
}

.team .grid {
  gap: 20px;
}

.team .card {
  background-color: #fff;
  margin-bottom: 5rem;
}

.team .card .imgBx {
  position: relative;
}

.team .card .imgBx .social-media {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  opacity: 0;
}

.team .card .imgBx .social-media .icons {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(300px) rotateX(90deg);
          transform: translateY(300px) rotateX(90deg);
}

.team .card .imgBx .social-media .icons i {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #fff;
  margin: 0 5px;
  padding: 1rem;
}

.team .card .identity {
  margin: 1rem 1.5rem 0 1.5rem;
  border-bottom: 4px solid #fc5404;
}

.team .card .identity p {
  margin: 10px 0;
}

.team .card:hover .social-media {
  opacity: 1;
}

.team .card:hover .social-media .icons {
  -webkit-transform: translateY(300px) rotateX(0deg);
          transform: translateY(300px) rotateX(0deg);
}

.team .card .social-media .icons i:hover {
  border-radius: 50%;
  cursor: pointer;
  background-color: #fc5404;
  color: #fff;
}

.testimonials {
  padding: 5rem 0;
  background-color: #fc5404;
  position: relative;
}

.testimonials .section-head {
  width: 35%;
  margin: 0 auto;
  color: #fff;
}

.testimonials .section-head p {
  color: #fff;
}

.testimonials .sub-head p {
  background-color: #fff;
  color: #fc5404;
}

.testimonials .controllers {
  position: absolute;
  left: 0;
  padding: 2rem 1.5rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 55%;
  background-color: #fff;
}

.testimonials .controllers a {
  display: block;
  background-color: #fc5404;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 10px 0;
}

.testimonials .sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.testimonials .sliders .slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

.testimonials .sliders .slide .grid {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.testimonials .sliders .slide .grid .border {
  border-right: 1px dashed #fc5404;
}

.testimonials .sliders .slide .grid .commentBx {
  background-color: #fff;
}

.testimonials .sliders .slide .grid .commentBx img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 220px;
}

.testimonials .sliders .slide .grid .commentBx .comment {
  padding: 1rem 2.5rem;
}

.testimonials .sliders .slide .grid .commentBx .comment i {
  font-size: 3rem;
  color: #fc5404;
}

.testimonials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../media/testi-shape1.png") no-repeat;
  height: 120px;
  width: 100px;
}

.pricing {
  background-color: #f9faff;
}

.pricing .section-head {
  width: 35%;
  margin: 0 auto;
}

.pricing .grid {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.pricing .grid .box {
  background-color: #fff;
  padding: 60px 20px;
  position: relative;
  overflow: hidden;
}

.pricing .grid .box .popular {
  position: absolute;
  top: 14px;
  right: -60px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fc5404;
  color: #fff;
  padding: 5px 70px;
  display: inline-block;
}

.pricing .grid .box .second {
  display: inline-block;
  border: 1px dashed #fc5404;
  padding: 2.5rem 0;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin: 1.5rem 0;
}

.pricing .grid .box .second :first-child {
  display: inline-block;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.pricing .grid .box .second span {
  font-size: 2.5rem;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#home {
  overflow: hidden;
}

#services {
  background: #f9faff;
}

#portfolio,
#about,
#services {
  padding-top: 5.5rem;
}
/*# sourceMappingURL=main.css.map */